ollama
opencv-python
numpy
scipy
jinja2
matplotlib
requests
playwright
google-genai
python-dotenv
flask
flask-cors

--index-url https://download.pytorch.org/whl/nightly/cu128
torch
torchvision
torchaudio
albumentations
tqdm
Pillow

